In [140]:
import pandas as pd
import numpy as np

In [141]:
#read in file
results = pd.read_csv('1345_customer_results.csv') #medical case results
admin = pd.read_csv('1345_admin_reads.csv') #raw individ reads

In [142]:
#retrive info on customer dataset
results.shape #30293 rows by 23 columns
results.dtypes #see the README.md provided

Case ID                   int64
Origin                   object
Origin Created At        object
Content ID                int64
URL                      object
Labeling State           object
Series                  float64
Series Index            float64
Patch                   float64
Qualified Reads           int64
Correct Label            object
Majority Label           object
Difficulty              float64
Agreement               float64
First Choice Answer      object
First Choice Votes        int64
First Choice Weight     float64
Second Choice Answer     object
Second Choice Votes       int64
Second Choice Weight    float64
Internal Notes          float64
Comments                 object
Explanation             float64
dtype: object

In [143]:
results = results.dropna(subset=['Origin']) #drops NA; didn't work see 34 astype(int)

In [144]:
results["Expert Votes"] = results["Origin"].str.extract(r'vote(\d)').astype(float)

In [145]:
results = results.drop(['Case ID','Origin Created At','Origin','Content ID','URL','Labeling State','Series','Series Index','Patch','Internal Notes','Comments','Explanation'],axis=1)

In [146]:
results = results[results["Qualified Reads"] != 0] 
#results["Crowd Votes"] = results["Qualified Reads"] - results["Expert Votes"]
#results.rename(columns={'Qualified Reads':'Total Votes'}, inplace= True)

In [147]:
results.tail()

,Qualified Reads,Correct Label,Majority Label,Difficulty,Agreement,First Choice Answer,First Choice Votes,First Choice Weight,Second Choice Answer,Second Choice Votes,Second Choice Weight,Expert Votes
30287,4,'yes','yes',0.000,1.000,'yes',4,3.18,'no',0,0.00,5.0
30288,2,'no','yes',1.000,1.000,'yes',2,1.56,'no',0,0.00,2.0
30289,3,'no','yes',0.667,0.667,'yes',2,1.56,'no',1,0.76,3.0
30290,6,NaN,'yes',NaN,1.000,'yes',6,4.78,'no',0,0.00,4.0
30292,5,'yes','yes',0.200,0.800,'yes',4,3.20,'no',1,0.76,5.0

In [148]:
print(results["First Choice Weight"].describe())

count    30013.000000
mean         3.568877
std          1.840714
min          0.750000
25%          2.340000
50%          3.220000
75%          4.760000
max         14.400000
Name: First Choice Weight, dtype: float64