In [60]:
import pandas as pd
import numpy as np

In [61]:
#read in file
results = pd.read_csv('1345_customer_results.csv') #medical case results
admin = pd.read_csv('1345_admin_reads.csv') #raw individ reads

In [62]:
#retrive info on customer dataset
results.shape #30293 rows by 23 columns
results.dtypes #see the README.md provided

Case ID                   int64
Origin                   object
Origin Created At        object
Content ID                int64
URL                      object
Labeling State           object
Series                  float64
Series Index            float64
Patch                   float64
Qualified Reads           int64
Correct Label            object
Majority Label           object
Difficulty              float64
Agreement               float64
First Choice Answer      object
First Choice Votes        int64
First Choice Weight     float64
Second Choice Answer     object
Second Choice Votes       int64
Second Choice Weight    float64
Internal Notes          float64
Comments                 object
Explanation             float64
dtype: object

In [63]:
results = results.dropna(subset=['Origin']) #drops NA; didn't work see 34 astype(int)

In [64]:
results["Expert Votes"] = results["Origin"].str.extract(r'vote(\d)').astype(float)

In [65]:
results = results.drop(['Origin Created At','Origin','Content ID','URL','Labeling State','Series','Series Index','Patch','Internal Notes','Comments','Explanation'],axis=1)

In [66]:
results["Split"] = results["Qualified Reads"] == 4
split_exp_opinion = results['Split']==True
print(results['Split'])
print(split_exp_opinion)

0        False
1        False
2        False
3        False
4        False
         ...
30288    False
30289    False
30290    False
30291    False
30292    False
Name: Split, Length: 30293, dtype: bool
0        False
1        False
2        False
3        False
4        False
         ...
30288    False
30289    False
30290    False
30291    False
30292    False
Name: Split, Length: 30293, dtype: bool

In [67]:
results = results[results["Qualified Reads"] != 0] 
results = results[results["Qualified Reads"] >= 9] 
results["Total votes"] = results["Qualified Reads"] + results["Expert Votes"]
results.rename(columns={'Qualified Reads':'Crowd Votes'}, inplace= True)

In [68]:
results

,Case ID,Crowd Votes,Correct Label,Majority Label,Difficulty,Agreement,First Choice Answer,First Choice Votes,First Choice Weight,Second Choice Answer,Second Choice Votes,Second Choice Weight,Expert Votes,Split,Total votes
77,5888164,10,'no','no',0.0,1.000,'no',10,7.90,'yes',0,0.00,0.0,False,10.0
85,5888172,9,'no','no',0.0,1.000,'no',9,6.95,'yes',0,0.00,0.0,False,9.0
87,5888174,9,'no','no',0.0,1.000,'no',9,7.08,'yes',0,0.00,0.0,False,9.0
96,5888183,9,'no','no',0.0,1.000,'no',9,7.17,'yes',0,0.00,NaN,False,NaN
115,5888202,9,'no','no',0.0,1.000,'no',9,7.17,'yes',0,0.00,0.0,False,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30257,5918344,11,NaN,'yes',NaN,0.909,'yes',10,7.88,'no',1,0.90,4.0,False,15.0
30268,5918355,10,'yes','yes',0.2,0.800,'yes',8,6.47,'no',2,1.64,7.0,False,17.0
30271,5918358,13,NaN,'yes',NaN,0.769,'yes',10,7.84,'no',3,2.36,4.0,False,17.0
30272,5918359,10,'yes','yes',0.0,1.000,'yes',10,8.06,'no',0,0.00,5.0,False,15.0
30279,5918366,10,NaN,'yes',NaN,0.900,'yes',9,7.18,'no',1,0.80,4.0,False,14.0

what was the intention and what did I get out of running this code.

In [69]:
print(results["Difficulty"].describe())

count    1415.000000
mean        0.126514
std         0.217765
min         0.000000
25%         0.000000
50%         0.000000
75%         0.111000
max         1.000000
Name: Difficulty, dtype: float64